## import libraries

In [16]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

## make a request

In [17]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
html_content = requests.get(url).text

## get the data

In [35]:
soup = BeautifulSoup(html_content, 'lxml')

## extract the required data

In [19]:
can_table = soup.find("table", attrs={"class": "wikitable sortable"})
can_table_data = can_table.tbody.find_all("tr")
#get all rows of table
rows = []
for tr in can_table_data:
    i = tr.find_all("td")
    if i:
        rows.append(i)
#get all the rows of the table
table_data = []
for row in rows:
    postalcode = row[0].text.strip()
    borough = row[1].text.strip()
    neighborhood = row[2].text.strip()
    if borough != 'Not assigned':
        if neighborhood == 'Not assigned':
            neighborhood = borough
        table_data.append([postalcode, borough, neighborhood])

## convert the data into dataframe

In [20]:
col = ['PostalCode', 'Borough', 'Neighborhood']
df = pd.DataFrame(table_data, columns=col)
df.head(10)

  PostalCode           Borough                                 Neighborhood
0        M3A        North York                                    Parkwoods
1        M4A        North York                             Victoria Village
2        M5A  Downtown Toronto                    Regent Park, Harbourfront
3        M6A        North York             Lawrence Manor, Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government
5        M9A         Etobicoke      Islington Avenue, Humber Valley Village
6        M1B       Scarborough                               Malvern, Rouge
7        M3B        North York                                    Don Mills
8        M4B         East York              Parkview Hill, Woodbine Gardens
9        M5B  Downtown Toronto                     Garden District, Ryerson

## lets check the dimensions of dataframe

In [21]:
df.shape

(103, 3)

In [33]:
dfgeo = pd.read_csv("https://cocl.us/Geospatial_data")
dfgeo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [34]:
dfgeo.rename(columns={'Postal Code' : 'PostalCode'}, inplace=True)
df_new = pd.merge(df, dfgeo, on='PostalCode', how='left')
df_new.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494